@import url("styles/header.css"); /*Foi feito assim para não encher de link no  head. E segundo, não vai fazer um carregamento por vez, vai ser todo junto*/

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.73%);
}


body {
    background-color: var(--cor-de-fundo);
}
